[Desktop Entry]
Name=Total Chaos Legacy
Comment=Retro Edition running on GZDoom Legacy
Type=Application
Icon=io.github.mbugni.TotalChaosLegacy
Keywords=first;person;shooter;doom;
Categories=Game;ActionGame;
Exec=gzdoom.sh
StartupWMClass=gzdoom
PrefersNonDefaultGPU=true
